@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
	font-family: "Roboto", sans-serif;
}

.inversedirectivegs.content {
	overflow: auto;
	background-image: url(../../../systems/inversedirectivegs/ui/sheets/character-bg.png);
	background-color: #e3e6de;
	background-size: 1163px 958px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-attachment: local;
}

.inversedirectivegs.content input {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	height: 18px;
}
.inversedirectivegs.content input[type=text],.inversedirectivegs.content input[type=number] {
	color: rgb(199, 32, 0);
	width: 230px;
	background: transparent;
	text-align: left;
}

.inversedirectivegs.content input[type=number] {
	text-align: center;
}

.inversedirectivegs.content input[type=checkbox] {
	color: rgb(32, 199, 0);
}


#physicalArmorHU1 {
	top: 44px;
	left: 38px;
	width: 45px;
	height: 30px;
	font-size: x-large;
}

#physicalArmorHU2 {
	top: 44px;
	left: 1080px;
	width: 45px;
	height: 30px;
	font-size: x-large;
}

#physicalArmorA {
	top: 95px;
	left: 100px;
	width: 40px;
	height: 40px;
	font-size: xx-large;
}

#physicalArmorArrowAB {
	top: 60px;
	left: 0px
}

#physicalArmorB {
	top: 95px;
	left: 280px;
	width: 40px;
	height: 40px;
	font-size: xx-large;
}

#physicalArmorArrowBC {
	top: 100px;
	left: 0px
}

#physicalArmorC {
	top: 95px;
	left: 450px;
	width: 40px;
	height: 40px;
	font-size: xx-large;
}

#physicalArmorD {
	top: 95px;
	left: 670px;
	width: 40px;
	height: 40px;
	font-size: xx-large;
}

#physicalArmorArrowED {
	top: 160px;
	left: 0px
}

#physicalArmorE {
	top: 95px;
	left: 845px;
	width: 40px;
	height: 40px;
	font-size: xx-large;
}

#physicalArmorArrowFE {
	top: 200px;
	left: 0px
}

#physicalArmorF {
	top: 95px;
	left: 1020px;
	width: 40px;
	height: 40px;
	font-size: xx-large;
}

#physicalModSU {
	top: 31px;
	left: 329px;
	width: 45px;
	height: 30px;
	font-size: x-large;
}

#physicalModRD {
	top: 31px;
	left: 379px;
	width: 45px;
	height: 30px;
	font-size: x-large;
}

#mentalModSU {
	top: 31px;
	left: 746px;
	width: 45px;
	height: 30px;
	font-size: x-large;
}

#mentalModRD {
	top: 31px;
	left: 794px;
	width: 45px;
	height: 30px;
	font-size: x-large;
}

#mojo {
	top: 63px;
	left: 540px;
	width: 80px;
	height: 80px;
	font-size: xxx-large;
}

#mojoMax {
	top: 141px;
	left: 551px;
	width: 60px;
	height: 60px;
	font-size: xx-large;
}

#portrait {
	top: 240px;
	left: 35px;
	position: fixed;
}

#description {
	top: 260px;
    left: 325px;
    position: fixed;
    width: 230px;
    height: 440px;
}

#charname {
	top: 754px;
	left: 65px;
	width: 150px;
}

#nickname {
	top: 725px;
	left: 80px;
	width: 183px;
}

#nationality {
	top: 725px;
	left: 326px;
	width: 127px;
}

#gender {
	top: 725px;
	left: 496px;
	width: 31px;
}

#surname {
	top: 754px;
	left: 267px;
	width: 186px;
}

#age {
	top: 754px;
	left: 486px;
	width: 41px;
}

#profession {
	top: 782px;
	left: 100px;
	width: 260px;
}

#organisation {
	top: 810px;
	left: 100px;
	width: 245px;
}

#role {
	top: 810px;
	left: 380px;
	width: 147px;
}

#trait-line1 {
	top: 873px;
	left: 34px;
	width: 246px;
}

#trait-line2 {
	top: 873px;
	left: 284px;
	width: 246px;
}

#trait-line3 {
	top: 901px;
	left: 34px;
	width: 246px;
}

#trait-line4 {
	top: 901px;
	left: 284px;
	width: 246px;
}


#skill-wit {
	top: 260px;
	left: 845px;
	width: 30px;
	height: 30px;
	font-size: x-large;
}

#skill-force {
	top: 309px;
	left: 845px;
	width: 30px;
	height: 30px;
	font-size: x-large;
}

#skill-athletics {
	top: 358px;
	left: 845px;
	width: 30px;
	height: 30px;
	font-size: x-large;
}

#skill-persuasion {
	top: 407px;
	left: 845px;
	width: 30px;
	height: 30px;
	font-size: x-large;
}

#skill-crafting {
	top: 456px;
	left: 845px;
	width: 30px;
	height: 30px;
	font-size: x-large;
}

#skill-pilot {
	top: 505px;
	left: 845px;
	width: 30px;
	height: 30px;
	font-size: x-large;
}

#skill-espionage {
	top: 554px;
	left: 845px;
	width: 30px;
	height: 30px;
	font-size: x-large;
}

#skill-survival {
	top: 603px;
	left: 845px;
	width: 30px;
	height: 30px;
	font-size: x-large;
}

#skill-marksmanship {
	top: 652px;
	left: 845px;
	width: 30px;
	height: 30px;
	font-size: x-large;
}

	
#skill-naturalSciences {
	top: 260px;
	left: 1100px;
	width: 30px;
	height: 30px;
	font-size: x-large;
}

#skill-socialSciences {
	top: 309px;
	left: 1100px;
	width: 30px;
	height: 30px;
	font-size: x-large;
}

#skill-formalSciences {
	top: 358px;
	left: 1100px;
	width: 30px;
	height: 30px;
	font-size: x-large;
}

#skill-lifeSciences {
	top: 407px;
	left: 1100px;
	width: 30px;
	height: 30px;
	font-size: x-large;
}

#skill-appliedSciences {
	top: 456px;
	left: 1100px;
	width: 30px;
	height: 30px;
	font-size: x-large;
}

#skill-humanSicences {
	top: 505px;
	left: 1100px;
	width: 30px;
	height: 30px;
	font-size: x-large;
}

#skill-language {
	top: 554px;
	left: 1100px;
	width: 30px;
	height: 30px;
	font-size: x-large;
}

#skill-healthSciences {
	top: 603px;
	left: 1100px;
	width: 30px;
	height: 30px;
	font-size: x-large;
}

#skill-meleeCombat {
	top: 652px;
	left: 1100px;
	width: 30px;
	height: 30px;
	font-size: x-large;
}

	
#mutations-line1 {
	top: 756px;
	left: 633px;
	width: 496px;
}

#mutations-line2 {
	top: 784px;
	left: 633px;
	width: 496px;
}

#mutations-line3 {
	top: 811px;
	left: 633px;
	width: 496px;
}

	
#brokenCondition {
	top: 873px;
	left: 632px;
	width: 238px;
}

	
#trauma-line1 {
	top: 873px;
	left: 880px;
	width: 186px;
}

#trauma-line2 {
	top: 901px;
	left: 880px;
	width: 186px;
}
