@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
	font-family: "Roboto", sans-serif;
}

.inversedirectivegs.content {
	overflow: scroll;
	background-image: url(../../../systems/inversedirectivegs/ui/sheets/character-bg.png);
	background-color: #cccccc;
	background-size: 1163px 958px;
	background-repeat: no-repeat;
}

.inversedirectivegs.content input {
	position: relative;
	background-color: rgba(0, 0, 0, 0.5);
	height: 18px;
}
.inversedirectivegs.content input[type=text],.inversedirectivegs.content input[type=number] {
	color: rgb(199, 32, 0);
	width: 230px
}

.inversedirectivegs.content input[type=checkbox] {
	color: rgb(32, 199, 0);
}


#physicalArmorHU1 {
	top: 0px;
	left: 0px
}

#physicalArmorHU2 {
	top: 20px;
	left: 0px
}

#physicalArmorA {
	top: 40px;
	left: 0px
}

#physicalArmorArrowAB {
	top: 60px;
	left: 0px
}

#physicalArmorB {
	top: 80px;
	left: 0px
}

#physicalArmorArrowBC {
	top: 100px;
	left: 0px
}

#physicalArmorC {
	top: 120px;
	left: 0px
}

#physicalArmorD {
	top: 140px;
	left: 0px
}

#physicalArmorArrowED {
	top: 160px;
	left: 0px
}

#physicalArmorE {
	top: 180px;
	left: 0px
}

#physicalArmorArrowFE {
	top: 200px;
	left: 0px
}

#physicalArmorF {
	top: 220px;
	left: 0px
}

#physicalModSU {
	top: 240px;
	left: 0px
}

#physicalModRD {
	top: 260px;
	left: 0px
}

#mentalModSU {
	top: 280px;
	left: 0px
}

#mentalModRD {
	top: 300px;
	left: 0px
}

#mojo {
	top: 320px;
	left: 0px
}

#mojoMax {
	top: 340px;
	left: 0px
}

#name {
	top: 360px;
	left: 0px
}

#nickname {
	top: 380px;
	left: 0px
}

#nationality {
	top: 400px;
	left: 0px
}

#gender {
	top: 420px;
	left: 0px
}

#surname {
	top: 440px;
	left: 0px
}

#age {
	top: 460px;
	left: 0px
}

#profession {
	top: 480px;
	left: 0px
}

#organisation {
	top: 500px;
	left: 0px
}

#role {
	top: 520px;
	left: 0px
}

#trait-line1 {
	top: 540px;
	left: 0px
}

#trait-line2 {
	top: 560px;
	left: 0px
}

#trait-line3 {
	top: 580px;
	left: 0px
}

#trait-line4 {
	top: 600px;
	left: 0px
}


#skill-wit {
	top: 620px;
	left: 0px
}

#skill-force {
	top: 640px;
	left: 0px
}

#skill-athletics {
	top: 660px;
	left: 0px
}

#skill-persuasion {
	top: 680px;
	left: 0px
}

#skill-crafting {
	top: 700px;
	left: 0px
}

#skill-pilot {
	top: 720px;
	left: 0px
}

#skill-espionage {
	top: 740px;
	left: 0px
}

#skill-survival {
	top: 760px;
	left: 0px
}

#skill-marksmanship {
	top: 780px;
	left: 0px
}

	
#skill-naturalSciences {
	top: 800px;
	left: 0px
}

#skill-socialSciences {
	top: 820px;
	left: 0px
}

#skill-formalSciences {
	top: 840px;
	left: 0px
}

#skill-lifeSciences {
	top: 860px;
	left: 0px
}

#skill-appliedSciences {
	top: 880px;
	left: 0px
}

#skill-humanSicences {
	top: 900px;
	left: 0px
}

#skill-language {
	top: 920px;
	left: 0px
}

#skill-healthSciences {
	top: 940px;
	left: 0px
}

#skill-meleeCombat {
	top: 960px;
	left: 0px
}

	
#mutations-line1 {
	top: 980px;
	left: 0px
}

#mutations-line2 {
	top: 1000px;
	left: 0px
}

#mutations-line3 {
	top: 1020px;
	left: 0px
}

	
#brokenCondition {
	top: 1040px;
	left: 0px
}

	
#trauma-line1 {
	top: 1060px;
	left: 0px
}

#trauma-line2 {
	top: 1080px;
	left: 0px
}
